
html body {
    margin: 0;
    padding: 0;
    user-select: none;
    text-align: center;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}
body {
    background-color: rgb(10, 10, 10);
    height: 100vh;
    width: 100%;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}

.hi {
    height: 20vh;
    background-color: rgba(12, 0, 65, 0);
    z-index: 10;
    text-align: center;
    padding: 40px 20px;
    text-shadow: 1px 1px rgb(109, 109, 109);
    color: rgb(209, 209, 209);
}
.hi h1 {
    margin: 0;
    padding: 5px;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
}
p    {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(209, 209, 209);
}
@media (max-width: 600px) {
    .hi h1 {
        font-size: 2rem;
    }
    .hi p {
        font-size: 1rem;
    }
    html body {
        overflow-x: hidden;
    }
    .star {
        height: 1.5px !important;
        width: 1.5px !important;
    }
}
.e {
    background-color: rgba(12, 0, 65, 0);
    z-index: 10;
    text-shadow: 1px 1px rgb(109, 109, 109);
    color: rgb(209, 209, 209);
    width: 100%;
    text-align: center;
}

.bar {
    background-color: rgba(24, 24, 24, 0.774);
    padding: 20px;
    height: 10px;
    position: relative;
    width: 100%;
    z-index: 5;
}
.text {
    font-size: x-large;
    text-align: center;
    margin: 60px;
}

.star {
    background-color: rgba(255, 255, 255, 0.849);
    width: 1px;
    height: 1px;
    z-index: -1;
    position: absolute;
}
.can {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
ul {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}
li {
    text-align: center;
    font-size: 1.25rem;
}

